# ################################# #
# PYTHON LIBRARY VENV INSTALLATIONS #
# ################################# #

# Data Processing Libraries
pandas == 2.2.3
numpy == 2.2.2
scipy

# Data Visualization Libraries
matplotlib
seaborn